<%- include("partials/header", {charname: char.firstName}); %>
<div class=" biography">
        <img id="demo2" src= "https://thronesapi.com/assets/images/<%= char.image %>"" width="300"  height="300">
    <div >
      <div > 
        <h3>    
        <%=char.fullName %>
        </h3>
    </div>
    <div >
        <div class="biography"> 
          <h5 class="tittle">    
          Titles:
          </h5>
          <ul>
          <% if (complement.titles != ''){%>
          <%  for(var k in complement.titles) { %>
              <li><%= complement.titles[k]%></li>
          <% } %>
          <% } else{ %>
            None
            <% } %>

        </ul>
          <br>
          <h5 class="tittle">    
            Aliases:
            </h5>
            
          <ul>
            
          <% if (complement.aliases != ''){%>
            <%  for(var k in complement.aliases) { %>
                <li><%= complement.aliases[k]%></li>
            <% } %>
            <% } else{ %>
              None
              <% } %>
          </ul>
            <br>
            <h5 class="tittle">    
              Family:
              </h5>
              <%= char.family%>
              <br>
              <h5 class="tittle">    
                Born:
                </h5>
                <%= complement.born%>
                <br>
                <h5 class="tittle">    
                  Death:
                  </h5>
                  <%  if(complement.died == '') { %>
                    Not Yet
                  <% } else{%>
                    <%= complement.died%>
                    <% } %>
                  <br>
        </div>
    </div>
</div>
<br/>
<form action="/character" method="post">
    <input type="submit" class="btn btn-dark" name="previous" value="Previous" />
    <input type="submit" class="btn btn-dark" name="next" value="Next" />
</form>
<%- include("partials/footer"); %>