<%- include("partials/header", {charname: char.firstName}); %>
<div class="col imgcont justify-content-center">
        <img id="demo2" src= "https://thronesapi.com/assets/images/<%= char.image %>"" width="300"  height="300">
    <div class="middle">
      <div class="texto-galeria"> 
        <h3>    
        <%=char.fullName %>
        </h3>
    </div>
    <div class="middle ">
        <div class="texto-galeria"> 
          <h5>    
          Title:
          </h5>
          <%=char.title %>
          <br>
          <h5>    
            Aliases:
            </h5>
            <%= complement.aliases%>
            <br>
            <h5>    
              Family:
              </h5>
              <%= char.family%>
              <br>
              <h5>    
                Aliases:
                </h5>
                <%= complement.aliases%>
                <br>
                <h5>    
                  Aliases:
                  </h5>
                  <%= complement.aliases%>
                  <br>
        </div>
    </div>
</div>
<br/>
<form action="/character" method="post">
    <input type="submit" class="btn btn-dark" name="previous" value="Previous" />
    <input type="submit" class="btn btn-dark" name="next" value="Next" />
</form>
<%- include("partials/footer"); %>